<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages validateRequest="false"/>
    <compilation targetFramework="4.5.2" debug="true"/>
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnection" requiresQuestionAndAnswer="False" requiresUniqueEmail="false" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="4" applicationName="SIIAA Internet"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState timeout="60"/>
    <authentication mode="Forms">
      <forms loginUrl="forms/Index.aspx"/>
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>